<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Public+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: "Public Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#e7edf3] px-10 py-3">
          <div class="flex items-center gap-4 text-[#0e141b]">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-[#0e141b] text-lg font-bold leading-tight tracking-[-0.015em]">LavaRapido</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-[#101418] text-sm font-medium leading-normal" href="/home">Home</a>
              <a class="text-[#0e141b] text-sm font-medium leading-normal disabled-link" href="#">Servizi</a>
              <a class="text-[#0e141b] text-sm font-medium leading-normal" href="/contact">Contatti</a>
            </div>
            <a href="/login"
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#b2cbe5] text-[#101418] text-sm font-bold leading-normal tracking-[0.015em] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              >
                <span class="truncate">Accedi</span>
              </a>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-[#0e141b] tracking-light text-[32px] font-bold leading-tight min-w-72">Chi Siamo</p></div>
            <p class="text-[#0e141b] text-base font-normal leading-normal pb-3 pt-1 px-4">
              LavaRapido è la tua lavanderia self-service di fiducia, situata nel cuore della città. Offriamo servizi di lavaggio e asciugatura rapidi ed efficienti per soddisfare
              le tue esigenze di pulizia dei tessuti.
            </p>
            <h3 class="text-[#0e141b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Indirizzo</h3>
            <p class="text-[#0e141b] text-base font-normal leading-normal pb-3 pt-1 px-4">Via Roma, 123 00100 Roma, Italia</p>
            <div class="flex px-4 py-3">
              <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl object-cover"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDWwnrfwirhSDwBXbWrbAqVpMK3toQALnzHzqyUlM6fOjJkiaBt5afYkzpA78T0IQaEYj-nwX9x-weWwTXOGqPksGt4JLmqDiIzvFBe6ijhUHotwxFLYsTVwQJhLfJ18o94CpD4PKGRp0wPIf4lAl1Dp0XfFhQNHkL9bLBKUScX-lqPqq9rRF15mPEESXuDP5OE5LddNyJ_yV-K2lO7cmlFpzrNHtPJMiwPBcD3raft7lqnkcMos1-3afmgtDSi_JYRszHLUhtn_-o");'
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
